// Define variables for your color scheme

$red:          #FD1015;
$blue:         #0D6EFD;
$yellow:       #FFC65A;
$orange:       #E67E22;
$green:        #1EDD88;
$gray:         #0E0000;
$light-gray:   #F4F4F4;

$dgreen-pawsg: #49822B;
$green-pawsg:  #5F9C3F;
$lgreen-pawsg: #82C75E;

$dorange-pawsg: #9D520E;
$orange-pawsg:  #C16512;
$lorange-pawsg: #E28B3C;

$dyellow-pawsg: #EDCA04;
$yellow-pawsg:  #FFE134;
$lyellow-pawsg: #FFEC7E;

$black-pawsg:  #000000;

$gray-100:     #2E3033;
$gray-90:      #494A4D;
$gray-80:      #626366;
$gray-70:      #7D7E80;
$gray-60:      #969799;
$gray-50:      #AFB1B3;
$gray-40:      #C8C9CC;
$gray-30:      #DCDCE3;
$gray-20:      #E8E9EB;
$gray-10:      #F2F3F5;

// Buttons
$dbgreen-pawsg:  #629E49;
$bgreen-pawsg:   #7BB662;
$lbgreen-pawsg:  #97CA82;

$dborange-pawsg: #FE970F;
$bgorange-pawsg: #FFAE42;
$lborange-pawsg: #FFC981;

$dbyellow-pawsg: #F0E000;
$byellow-pawsg: #FFF347;
$lbyellow-pawsg: #FFF895;

$dbblue-pawsg:   #3698B0;
$bblue-pawsg:    #38AFCD;
$lbblue-pawsg:   #5AC3DD;
