// Specific CSS for your home-page
h1{
  color: white;
}

h4, h6{
  color: $dorange-pawsg;

}

.landing-container{
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.landing-card{
  background-color: #FCECC8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 20px;
}

.get-started-button{
  background-color:$dbblue-pawsg;
  text-decoration:none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.get-started-button:hover{
  background-color: $bblue-pawsg;
}

.sign-in-button{
  background-color: $dbgreen-pawsg;
  text-decoration:none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.sign-button:hover{
  background-color: $lbgreen-pawsg;
}
