.home-container{
background-color: #ede4d5;
padding: 10px;
height: 100%;
}

.home-container h1{
  color: $bblue-pawsg;
  font-weight: bolder;
}

.home-track-icons{
  width: 80px;
  height: 60px;
}

.arrow-green{
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-left: 30px;
}

.arrow-yellow{
  height: 150px;
  width: 150px;
  text-align: left;
}

.arrow-blue{
  height: 100px;
  width: 100px;
}
.arrow-blue-container{
  text-align: center;
}


.walk-icon{
  text-align: right;
}

.walk-icon img{
  height: 250px;
  width: 320px;
}

.walk-img-map{
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.walk-section > h6{
  color: $orange-pawsg;
  font-weight: bolder;
}

.chat-img{
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.health-options{
  text-align: right;
}

.health-options > h6{
  color: $bblue-pawsg;
  font-weight: bolder;
}

a{
  text-decoration: none;
}

ul#home-tracking-list{
  list-style:none;
  padding: 0;
}

ul#home-tracking-list li{
  display: inline-block;
  list-style: none;
  margin: 0;
}

.chat-options > h6 {
  color: $dbgreen-pawsg;
  font-weight: bolder;
}

.vet-landing > h6{
  color: $dbgreen-pawsg;
  font-weight: bolder;
}
