
<p><%= link_to "Update my pup's info", edit_dog_path %></p>
<p><%= link_to "Remove dog",
   dog_path(@dog),
   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></p>
<p><%= link_to 'Back', dogs_path %></p>
