<div class="button-container">
<br>
  <div class="log-button">
  <%= link_to new_dog_prescription_path(@dog), class:"dgreen-button pup-button" do %>
    <i class="fa-solid fa-plus"></i> Prescription
  <% end %>
  </div>
</div>
