<h1>My puppies</h1>
  <% @dogs.each do |dog| %>
  <div class="card-container">
    <div class="card-body-details">
      <div>
        <%= cl_image_tag dog.photo.key, height: 500, width: 500, gravity: "auto", crop: "fill", alt: "#{dog.name}", class:'img-square'%>
      </div>
      <h4><%= link_to dog.name, dog_path(dog), class:"dblue-title dog-name-link"%></h4>
    </div>

  </div>
  <% end %>
  <br>
  <div id="add-pup">
    <%= link_to new_dog_path, class:"dgreen-button pup-button" do %>
    <i class="fa-solid fa-plus"></i>  <i class="fa-solid fa-dog" style="color: #9d520e;"></i>
  <% end %>
  </div>
