<div class="card d-flex flex-column h-100 answer">
  <div class="row">
    <div class="col">
      <span class="chatbox-answer-icon">
        <i class="fa-solid fa-comment-dots"></i>
      </span>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
