<div class="parent container h-100">
  <h1>Chatbox</h1>

  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    <%= f.input :content %>
    </div>

    <div class="container d-flex flex-column align-items-center">
      <div class="form-actions" id="nav-btn">
      <%= f.submit "Ask", class: 'dgreen-button' %>
    </div>

    </div>
  <% end %>
</div>
