<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <div class="map-card" style="width: 500px; height: 1200px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
