<h1>Welcome to Paws!</h1>
<h5>Your personal activities tracker</h5>
<hr>
<h6>Stay pawsitive</h6>
<h6>Track very wag with ease</h6>
<p><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary" %></p>
<p><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %></p>
