<% if user_signed_in? %>
    <% if current_user.is_vet %>
      <%= render "vet_home" %>
    <% else %>
      <%= render "owner_home" %>
    <% end %>
  <% else %>
  <%= render "new_landing" %>
<% end %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
