<h1>walks page map</h1>
 <div class="map-card" style="width: 1200px; height: 1200px;"


    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-controller="map"

     data-map-markers-value=<%= [{"lng": -0.28639,  "lat": 51.42060},{"lng": -0.0633456456978407,  "lat": 51.44795158445348 -0.0633456456978407}].to_json %>></div>
<style>
