<h1>walks page map</h1>
 <div class="map-card" style="width: 1200px; height: 1200px;"


    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-controller="map"

     data-map-markers-value='[{"lng": -122.4194, "lat": 37.7749}, {"lng": -73.935242, "lat": 40.73061}]'></div>





<button id="tracking-button">Start Tracking</button>
