

    <style>
        .map-card {
            width: 430px;
            height: 800px;
        }

        .nav-bar {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: black;
            text-align: center;
            padding: 50px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            z-index: 9999;
            display: flex;
            justify-content: space-around;
            margin-bottom: 46px;
            font-size: 10;
        }
        .flexbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .nav-bar p {
            margin: 0;
        }
    </style>


    <h1>Walks</h1>
    <div class="map-card"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-controller="map">
    </div>
<%= render 'walks/walk_data', walk: Walk.last %>

<button id="showPopupButton">Display Walk Data</button>

   <!-- <script>
        async function fetchWalkData() {
            try {
                const response = await fetch('/api/walk');
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const walk = await response.json();
                updateWalkData(walk);
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

        function updateWalkData(walk) {
            console.log('updateWalkData function called');
            console.log('Walk ID:', walk.id);
            console.log('Start Time:', walk.start_time);
            console.log('End Time:', walk.end_time);
            console.log('Distance:', walk.distance);
            console.log('Pace:', walk.pace);

            // document.getElementById('walkId').innerText = `Walk ID: ${walk.id}`;
            // document.getElementById('startTime').innerText = `Start Time: ${walk.start_time}`;
            // document.getElementById('endTime').innerText = `End Time: ${walk.end_time}`;
            // document.getElementById('distance').innerText = `Distance: ${walk.distance}`;
            // document.getElementById('pace').innerText = `Pace: ${walk.pace}`;
        }

        // Fetch walk data on page load
        fetchWalkData();
    </script> -->
