@import "config/colors";

.green-back-link{
  text-decoration: none;
  // margin-left: 15px;
  color:$dbgreen-pawsg;
  font-weight: bolder;
}

.green-back-link:active{
  color:$lgreen-pawsg;

}

.yellow-back-link{
  text-decoration: none;
  // margin-left: 15px;
  color:$dyellow-pawsg;
  font-weight: bolder;
}

.yellow-back-link:active{
  color:$yellow-pawsg;

}

.orange-back-link{
  text-decoration: none;
  // margin-left: 15px;
  color:$dborange-pawsg;
  font-weight: bolder;
}

.orange-back-link:active{
  color:$lorange-pawsg;
}

.dgreen-button{
  background-color: $dgreen-pawsg;
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  // transition: 0.1s ease-in-out;
}

.dgreen-button:active{
  background-color: $lbgreen-pawsg;
}

.dyellow-button{
  background-color: $dbyellow-pawsg;
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  // transition: 0.1s ease-in-out;
}

.dyellow-button:active{
  background-color: $lbyellow-pawsg;
}

#add-pup{
  text-align: center;
}

.pup-button{
  line-height: 1.5;
}
