.card-container{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.orange-title{
  color: $lorange-pawsg;
}

.dblue-title{
  color: $dbblue-pawsg;
}

.detail-key{
  font-weight: 500;
  color: $bblue-pawsg;

}

// .card-text .vet-card-text{
//   margin-bottom: 0px;
// }

.title-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
