.card{
  border-radius: 5px;
}

.card-title .vet-card-title{
  color: $lorange-pawsg;
}

.detail-key{
  font-weight: 500;
    .vet-detail-key{
      color: $bblue-pawsg;
    }
}

.card-text .vet-card-text{
  margin-bottom: 0px;
}
