.img-square{
  height: auto;
  width: 100%;
  border-radius: 5px;
}


.small-img-square{
  height: auto;
  width: 100px;
  border-radius: 5px;
}

.center-img{
  text-align:center;
}

.img-rounded{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
