<div class="button-container">
  <br>
  <div class="d-flex flex-column text-center w-100 log-add-button">
    <%= link_to new_dog_log_path(@dog), class:"dgreen-button pup-button" do %>
      Log <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>

</div>
