.img-cover {
  border-radius: 20px;
  border: 1px solid $lorange-pawsg;
  box-shadow: 3px 3px 8px $lorange-pawsg;
  margin: 10px auto 20px;
}

.img-icon {
  color: $dgreen-pawsg;
}

.back-bttn {
  color: $red;
  margin-bottom: 10px;
}
