.card {
  background-color: $gray-10;
  width: 360px;
  height: 135px;
  border-radius: 20px;
  padding: 20px;
}

.log-date {
  font-weight: bold;
}

.log-detail-key {
  color: $dgreen-pawsg;
}

.log-detail-key-view {
  color: $dbblue-pawsg;
}

.log-detail-key-edit {
  color: $dgreen-pawsg;
}

.log-detail-key-destroy {
  color: $red;
}

.log-detail-key i {
  width: 16px;
}
