@import "config/colors";
@import "components/button";

h1{
  color: white;
}
.card{
  border-radius: 5px;
}
.dog-pic{
  border-radius: 5px;
  height: 300px;
  width: 300px ;
}

.dog-name{
  text-decoration:none;
  color: $lorange-pawsg;
  font-weight: 800;
}

.container{
  background-color: $lgreen-pawsg;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.update-button{
  background-color: $dbgreen-pawsg;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.update-button:hover{
  background-color: $lgreen-pawsg;
}

.vet-name{
  text-decoration:none;
  color: $lorange-pawsg;
}

.details-key{
  color: $lbblue-pawsg;
  font-weight: 600;
}

.dog-info-details{
  line-height: 0.5;
  }

.dog-name{
  text-decoration:none;
  color: $dbblue-pawsg;
  font-weight: 800;
}

.back-link{
  text-decoration: none;
  margin-left: 15px;
  color:$dbgreen-pawsg;
}
