.dog-name-link{
  text-align: center;
  margin: 0 auto;
  line-height: 0.5;
}

.dog-card-center{
  text-align: center;
}

#add-pup{
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  margin-top: 20px;
}
 .bttn-log-index {
  margin-bottom: 15px;
 }
